@font-face {
    font-family: 'FilsonProBlack';
    src: url(../../font/FilsonProBlack.otf) format('opentype');
}

@font-face {
    font-family: 'AskanBlack';
    src: url(../../font/AskanBlack.otf) format('opentype');
}
