.containerGallery{
    display: grid;
    grid-template-columns: minmax(2, 1fr);
    grid-auto-rows: auto;
    gap: 0;
    grid-template-areas: 
    "milk lemon"
    "ice sugar"
    ;

}
.milk{
    height: 100%;
    width: 100%;
    grid-area: milk;
}

.lemon{
    height: 100%;
    width: 100%;
    grid-area: lemon;

}
.ice{
    height: 100%;
    width: 100%;
    grid-area: ice;
}
.sugar{
    height: 100%;
    width: 100%;
    grid-area: sugar;
}