.orange-section{
    @include background;
    background-image: url("./assets/image/photos/image-photography.jpg");
    padding-top: 5px;
}
.DescPhoto{
    @include orangecherry;
    color: #205269;
}
.titlePhoto{
    position: relative;
    text-align: center;
    top: 350px;
    color: #205269;
    font-family: "AskanBlack";
}