.cherry-section{
    @include background;
    background-image: url("./assets/images/photos/image-graphic-design.jpg");
    padding-top: 5px;

}
.titleCherry{
    text-align: center;
    position: relative;
    top: 350px;
    font-family: "AskanBlack";
    color: #24554A

}
.descCherry{
      @include orangecherry;
      color: #24554A
}
@media screen and (min-width: 767px){
    .cherry-section{
        width: 100%;
    }
   
}