.glasspink{
    width: 100%;
}

.container_section_2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.stand-out-section{
    padding-bottom: 5rem;
}

@media screen and (min-width: 767px) {
    .glasspink{
        width: 100%;
        height: 312px;
    }
    .Stand_Out{
        display: flex;
        flex-direction: column;
    }
    .desc{
        text-align: center;
        margin-left: 25px;
    }
}
