.photoPeople{
    width: 70px;
    border-radius: 50%;
    
}
.people-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.descPeople{
    font-family: verdana;
    font-size: 14px;
    color: #5A626D;
    padding: 1rem 1rem;
}
.titlePeople{
    padding-top: 20px;
    font-family: "AskanBlack";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #A6AAAC
}
.namePeople{
    font-family: "AskanBlack";
    color: black;
}
.jobPeople{
    color: #BCBFBE;
    font-size: 10px;
}